{% extends  'base_blog.html'  %}
{% load  staticfiles   %}
{% load markdownify %}
{% load markdown_filter %}
 {% load markdownas %}


{%  block main  %}
<hr>
<br>
<div class="container">
  <h3> <a href="{% url 'blog_admin' %}"> Accueil  </a></h3>
  <div class="row">
    <div class="col-lg-6">
      <p> ** {{ article.documents.get_documents_project }} </p>
    </div>
    <div class="col-lg-6">
      <div class="post-preview">
          <h2 class="post-title"> {{article.title__}} </h2>
          <h3 class="post-subtitle">
          <article class="post">
             {{object.content |  markdownas | safe   }}
          </article>
          </h3>
        <p class="post-meta">Posté par
          <a href="#">{{ user.usertitle}} {{ user.firsttitle}}</a>
          le {{ article.created | date:'d M Y' }}</p>
      </div>
    </div>
  </div>

</div>

{% endblock %}
