{% load  staticfiles static %}
{% load l10n %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Portfolio</h2>
            <h3 class="section-subheading text-muted"> .</h3>
        </div>
    </div>

    <div class="row">

        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="{% static 'images/mens_project.jpg' %}" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
                <h4>Gestion de project Pulsar</h4>
                <img src="" alt="">
                <hr>

                  <ul class="list-group">
                    <li> Gagner en Visibilité
                     Visualisez les rapports et statuts de tous les projets de votre équipe, en temps réel.
                     Voir l'avancée des projets avec les plannings et les Gantt
                   </li>

                    <li> Simplifiez la planification
                      > Convertissez facilement votre stratégie en un plan d'action concret</li>

                    <li> Favorisez la collaboration
                      > Centralisez la communication entre parties prenantes dans un contexte précis.</li>

                    <li> Simplifiez le flux de travail
                      > Gagner en flexibilité pour gérer et faciliter le fonctionnement de votre équipe.</li>
                  </ul>

                <p class="text-muted text-left"> Créez vos projets dans Pulsar Sce, planifiez votre travail avec des tâches. <br>

                Enfin suivez en temps réel la marge que vous réalisez
                Timetracking, Temps passé, Collaboratif.
                Créez tous vos projets en cours pour permettre à vos collaborateurs de tracker du temps sur chacun d'eux.
                Rattachez également les documents pdf, images et meme de la video que vous joingnez aux projets concernés.
                <br>
                82 % des entreprises qui grandissent « de manière agressive » déclarent que la planification est d'une importance critique pour
                l'accroissement de leurs revenus.<br>
                Grace a une bonne gestion des taches l'entreprise bénéficie d'une organisation interne efficace s'appuyant sur la gestion de projet efficace .
                Ceci permettrait un gain de temps de traitement administratif et une
                clarification des actions par les personnes impliquées

                Projet à forte valeur ajoutée car 82 % des entreprises qui grandissent « de manière agressive » déclarent que la planification est d'une importance critique pour l'accroissement de leurs revenus.
                > Grace a une bonne gestion des taches l'entreprise bénéficie d'une organisation interne efficace s'appuyant sur la gestion de projet efficace .
                Ceci permettrait un gain de temps de traitement administratif et une clarification des actions par les personnes impliquées.
              </p>
               <hl>

            </div>
        </div>

        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="{% static 'images/reporting.jpeg' %}" class="img-responsive" width="350"  >

            </a>
            <div class="portfolio-caption">
                <h4>Gestion OFs</h4>
                <hr>
                <p class="text-muted text-left">Gestion des ordres de fabrications

                  Un ordre de fabrication définit quel article doit être traité, à quel endroit, à quel moment et quelle est la charge de travail demandée.<br>

                  Il définit également les ressources à utiliser et la façon dont les coûts de l'ordre doivent être imputés.<br>

                  Dès qu'un ordre planifié ou qu'une autre demande est émis par la planification des besoins en composants Demande d'approvisionnement,
                  le pilotage de l’atelier récupère les informations disponibles et y ajoute les données relatives à l’ordre afin de garantir le traitement complet de l'OF'.<br>
                  Un tableau de bord gestion des ofs permet de suivre en directe la progression de la prodution (en pourcentage) dans les ateliers de conditionnement .<br>
                  </p>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="{% static 'images/project_room.jpeg' %}" class="img-responsive" alt="">

            </a>
            <div class="portfolio-caption">
                <h4>Pulsar Planification OF /machines</h4>
                <hr>
                <p class="text-muted text-left"> Planification des ordres de fabrication
                  Les ordres de fabrication sont un élément fondamental de la composante Planification et gestion de la production est entièrement intégré dans la composante Logistique
                 et possède des interfaces avec les domaines suivants : <br><br>

                 <ul class="list-unstyled">
                   <li> Plan de charge des commandes</li>
                   <li> les fiches de travail</li>
                   <li> Demande d'approvisionnement</li>
                 </ul> <br></p>

                <p class="text-muted text-justify">
                 Pulsar présente plusieurs views responsive web design friendly pour suivre la planifications et l'ordonnancement des OF par semaine.<br>
                 Les ofs peuvent être planifier a partir de cette applications en drag & drop tout simplement.<br>
                 Plusieurs indicateur indique la progression des of en atelier, avec une messagerie integrée qui permet de transmettre des infos entre les equipes en atelier et le services de planification.<br>
                </p>

                 <p class="text-muted text-justify">

                  Intégration des ordres de fabrication dans la planification de la production
                  Les procédures de travail au sein de l'entreprise sont exécutées suivant des OFs.

                 </p>


            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="{% static 'images/reporting_004.jpeg' %}" class="img-responsive" width="350" alt="">

            </a>
            <div class="portfolio-caption">
                <h4> la Liste à Servir </h4>
                <hr>
                <p class="text-muted text-left">
                    La liste à servir calcule les quantités de composants nécessaire à la fabrication des articles commandées .
                    Des éléments de réapprovisionnement peuvent être créés pour ces manquants.
                    La liste à servir sert principalement à planifier la mise à disposition des articles (calcul des quantités nécessaire et déclenchement du réapprovisionnement),

                    En créant une liste de travail a partird'un moteur de recherche qui recherche toute les ofs planifiers pour la semaine .
                    Une fois le panier est complet , l'utilisateur peut lancer le calcul , traitement qui parcours toute les nomenclatures des produitsensuite il propose une liste de composant avec des quatitées moderés avec un taux de paerte.
                    Le réapprovisionnement peut également être déclenché par la création de demandes d'approvisonnment dans Getsform.

                    Les composants peuvent être mis à disposition par le transfert physique direct ou les réservations de transfert d'utilisation.

                  .<br>
                  </p>
            </div>
        </div>
    </div>
</div>
